.tooltip {
  @apply block z-50;

  .tooltip-arrow {
    @apply absolute border-black/50 border w-0 h-0 z-10;
  }

  &[x-placement^='top'] {
    @apply mb-2;

    .tooltip-arrow {
      @apply -bottom-2;

      border-width: 8px 8px 0 8px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      left: calc(50% - 8px);
    }
  }

  &[x-placement^='bottom'] {
    @apply top-2;

    .tooltip-arrow {
      border-width: 0 8px 8px 8px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -8px;
      left: calc(50% - 8px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 8px;

    .tooltip-arrow {
      border-width: 8px 8px 8px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -8px;
      top: calc(50% - 8px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 8px;

    .tooltip-arrow {
      border-width: 8px 0 8px 8px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -8px;
      top: calc(50% - 8px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    .popover-inner {
      @apply bg-black/80 text-white/80 overflow-hidden rounded-md shadow-lg;
    }

    .popover-arrow {
      border-color: transparent;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
